.headerRentedRow {
  margin-top: 50px;
  margin-bottom: 10px;
}

.rentedRow {
  height: 6em;
  line-height: 6em;
  padding-left: 40px;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.rentedButton {
  text-align: center;
}

.rentedButton button {
  padding: 11px 20px;
}

@media screen and (max-width: 900px) {
  .rentedRow {
    padding-left: 0px;
    height: inherit;
    line-height: inherit;
  }

  .headerRentedRowP,
  .headerRentedRowP span {
    font-size: 25px;
  }

  .rentedButton {
    margin-top: 5px;
  }

  .rentedButton button {
    padding: 10px 127px;
  }

  .rentedText {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
  }

  .rentedButton {
    font-size: 12px;
  }
}
