.rentButton,
.deleteButton {
  text-align: center;
}

.rentButton button {
  padding: 11px 44px;
}

.deleteButton button {
  padding: 11px 37px;
}

.headerAvaiableRow {
  margin-top: 50px;
  margin-bottom: 10px;
}

.avaiableRow {
  margin-bottom: 20px;
  height: 6em;
  line-height: 6em;
  padding-left: 40px;
  border: 1px solid #e0e0e0;
}

@media screen and (max-width: 900px) {
  .availableText {
    font-size: 10px;
  }

  .headerAvailableRowP,
  .headerAvailableRowP span {
    font-size: 25px;
  }

  .avaiableRow {
    padding-left: 0px;
    text-align: center;
  }

  .deleteButton button {
    padding: 5px 9px;
  }

  .rentButton button {
    padding: 5px 10px;
  }

  .availableButton {
    font-size: 12px;
  }
}
